header {
    position: relative;
    height: 50px;
    margin-top: -8px;
}

body {
    background-color: #151515;
    background-image: url(visual.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.topnav {
    height: 50px;
    text-align: center;
    display: inline-block;
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.topnav a {
    text-align: center;
    padding: 0px 40px;
    color: white;
    line-height: 0.75;
    font-size: 25px;
}

.topnav a:hover {
    color: red;
}

.botnav {
    position: absolute;
    bottom: 0%;
    justify-content: center;
    height: 50px;
}

.typewriter h1 {
    position: absolute;
    top: 300px;
    line-height: 0.75;
    color: red;
    font-size: 50px;
    font-family: 'Bungee Hairline', cursive;
    overflow: hidden;
    border-right: 2px solid transparent;
    white-space: nowrap;
    animation:
        typing 4s steps(30, end),
        blink-caret 1s infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 760px }
}

@keyframes blink-caret {
    0% { border-right-color: transparent }
    80% { border-right-color: red }
}

h1 {
    color: red;
    font-family: 'Bungee Hairline', cursive;
    font-size: 40px;
    text-align: center;
}

p {
    position: absolute;
    top: 375px;
    color: red;
    font-family: 'Bungee Hairline', cursive;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
}

a {
    color: dimgrey;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Bungee Hairline', cursive;
}